.sidebar {
  position: fixed;
  height: 100%;
  width: 170px;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #383838;
}
.sidebar .sidebar-nav {
  padding: 20px 20px;
  line-height: 60px;
  list-style: none;
  color: #9c9a9a;
}
.sidebar .sidebar-brand {
  text-align: center;
  font-size: 30px;
  cursor: default;
  margin-bottom: 2rem;
  border-bottom: 1px solid #cccc;
}
.sidebar .sidebar-item {
  cursor: pointer;
  font-size: 18px;
  padding-left: 15px;
}
.sidebar .sidebar-item:hover {
  color: #fff;
  font-size: 15px;
}
.component {
  width: 100%;
}
.component .add-btn {
  float: right;
  margin-top: 2rem;
}
.component .title {
  display: inline-block;
}
.component .footer-page {
  text-align: right;
  padding: 2rem;
}
.component .table-info {
  margin-top: 30px;
}
.content-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 170px;
}
